<nav class="main_nav">
    <ul>
        <li class="active"><a href="{{ url('home') }}">Home</a></li>
        <li><a href="{{ url('liturgy') }}">Liturgy</a></li>
        <li><a href="{{ url('news') }}">News</a></li>
        <li><a href="{{ url('blog') }}">Blog</a></li>
        <li><a href="{{ url('contact') }}">Contact</a></li>
    </ul>
</nav>