{%  extends('admin_base.html.twig') %}

{% block title %}
    Edit Article
{% endblock %}

{% block body %}
    <div class="container">
        <h2>Edit Article</h2>
        <div class="row">
            <div class="col-12">
                {{ form_start(articleForm) }}
                {{ form_row(articleForm.title) }}
                {{ form_row(articleForm.imageFile) }}
                {{ form_row(articleForm.content) }}
                {{ form_row(articleForm.categories) }}
                {{ form_row(articleForm.description) }}
                {{ form_row(articleForm.save, {
                    label: 'Edit Article'
                }) }}
                {{ form_end(articleForm) }}

            </div>
        </div>
    </div>
{% endblock %}